.bg-cooked {
    background-color: #d30476;
}
.bg-packing {
    background-color: #9d9906;
}
.bg-delivery {
    background-color: #188a8d;
}
.bg-delivered {
    background-color: #0495c7;
}
.bg-handed {
    background-color: #4d9b01;
}
.bg-rating {
    background-color: #ae098b;
}

